<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!--
        Aula 21, Seção 4: Neste arquivo, informa as permissões que o App possuirá ( ex: permissão
        para acessar a câmera, acessar o wifi, etc ). Também, neste arquivo, informa qual será a
        primeira tela a ser executada quando o App for aberto.
    -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppListaCurso"
        tools:targetApi="31">
        <activity
            android:name=".view.MainActivity"
            android:exported="false" />  <!-- Activity da Tela da MainActivity do App. -->
        <activity
            android:name=".view.SplashActivity"
            android:exported="true">  <!-- Activity da Tela de Splash do App. OBS: O prof. Marco Maddo ensina que
            essa será a tela a ser executada, quando o App for executado. Para que isso aconteça, basta trocar o
            nome indicado em  android:name="" aqui, colocando o nome da Activity a ser executada. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>